.layer {
    background-color: #7f8c8d;
    border: solid #34495e 1px;
    border-right: none; 
    line-height: 30px;
    vertical-align: 25%;
    text-align: center;
    width: 49px;
    height: 28px;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    color: white;
}
.layer#add {
    background-color: #34495e;
}
.layer.focused {
    background-color: #2c3e50;
}
#controls, #layers {
    flex-direction: row;
    display: flex;
}